

@font-face { font-family: 'DS-Digital';
             src: url('../fonts/ds_digital/DS-DIGII.TTF') format('truetype'); }
            
/* ----------------- Corpus -------------------------*/
.wrapper{
  position: relative;
  width:660px;
  margin:0 auto;
}
.back{
  position: absolute;
  top:170px;
  width:640px;
  height: 640px;
  z-index:0;
  background-color: #303133;
  border-radius: 310px;
  /*-moz-box-shadow: 4px 5px 8px -2px grey;
  -webkit-box-shadow: 6px 7px 10px -4px grey;*/
  box-shadow: inset 0px 0px 2px 2px #23272d;

  
}
.pad {
  width: 300px;
  height: 300px;
  float: left;
  z-index: 1;
  margin: 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 1;
}

.shape1 {
  border-top-left-radius: 320px;
  background-color: darkgreen;
  /*box-shadow: 0 0 5px 5px #141414;*/
}
.lit-up1 {
    background-color: green !important;
}

.shape2 {
  float: left;
  border-top-right-radius: 320px;
  background-color: darkred;
  clear: right;
}
.lit-up2 {
    background-color: red !important;
}
.shape3 {
  float: left;
  border-bottom-left-radius: 320px;
  background-color: #f7d156;
  clear: left;
}
.lit-up3 {
    background-color: yellow !important;
}

.shape4 {
  float: left;
  border-bottom-right-radius: 320px;
  background-color: darkblue;
}
.lit-up4 {
    background-color: blue !important;
}
.circle {
  position: absolute;
  top: 195px;
  left: 195px;
  width: 250px;
  height: 250px;
  background: #dee5ef;
  border-radius: 125px;
  z-index: 10;
  box-shadow: inset 0px 0px 2px 2px #23272d;
}


.level, .score {
  width: 50%;
  float: left;
  text-align: center;
}

.sButton {
  width: 30%;
  margin: 0 auto;
}

.start {
  width: 100%;
  height: 30px;
  text-align: center;
}
/* ------------- Control ELements ----------------
---------------------------------------------------*/
#simon {
    position: relative;
    top: 50px;
    left: 50px;
    font-size: 3em;
}
#tm {
    position: relative;
    top: 10px;
    left: 195px;
    font-size: 1em;
}
/*---------- on off switch -----------*/
.onoffswitch {
    position: relative; width: 66px;
    top: 55px;
    left: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 4px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #2E2E2E; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #2E2E2E; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 21px; margin: 2px;
    background: #2E8EE8;
    position: absolute; top: 0; bottom: 0;
    right: 37px;
    border: 2px solid #999999; border-radius: 4px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/* ------------ btns ------------------*/

.btn-round {
  position: absolute; 
  top: 137px;
  left: 111px;

    border-radius: 50%;
	-moz-box-shadow: 4px 5px 8px -2px grey;
	-webkit-box-shadow: 6px 7px 10px -4px grey;
	box-shadow: 5px 5px 7px -3px grey;
	background-color:red;

text-indent:-4px;
	border:1px solid #5f9ced;
	display:inline-block;
	color:#060708;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
height:22px;
	line-height:75px;
width:22px;
	text-decoration:none;
	text-align:center;

}.btn-round:active {
    position: absolute;
	top: 138px;
    left: 111px;
} 

.btn-round-label {
  font-family: 'Roboto', sans-serif;
  position: absolute; 
  font-size: 0.9em;
  top: 162px;
  left: 109px;  
}
/*--------------- Counter DIV --------*/
#counter {
    position: relative;
    height: 50px;
    width: 45px;
    top: 25px;
    left: 40px;
    font-size: 3em;
    border-radius: 10%;
    background: black;
    font-family: 'DS-Digital';
    color: red;
    text-align: right;
}

#counter>#count {
     
    padding: 5px 10px 0px 5px ;
    margin-bottom: 10px;
}